.table-expense {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.table-header, .table-data {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    width: 60%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.281);
}

.table-header {
    font-weight: 700;
}

.table-data {
    margin-top: 5px;
}

.table-header div,
.table-data div {
    background-color: whitesmoke;
    box-sizing: border-box;
    text-align: left;
    height: 30px;
    padding: 0 4px;
}

.div-btn-table {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 60%;
}

.btn-table {
    background-color: #2196F3;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}