
.home-header {
    background-color: #0ACF83;
    color: white;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0 10px;
}

.home-header a {
    padding: 0 50px;
    font-weight: bold;
    cursor: pointer;
}