
.organizationModal{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.13);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-modal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #fff;
    width: 450px;
    height: 350px;
    border-radius: 8px;
    padding: 30px 70px;
    gap: 5px;
}

.form-modal h3 {
    text-align: center;
    color: #2196F3;
    font-weight: 500;
}

.form-modal label {
    font-size: 12px;
}

.form-modal input {
    width: 250px;
    height: 24px;
    border-bottom: 1px solid gray;
}

.modal-close {
    cursor: pointer;
}

.btn-modal {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.save {
    background-color: #2196F3;
    width: 100px;
    height: 40px;
    padding: 8px, 22px, 8px, 22px;
    border-radius: 8px;
    color: wheat;
}

.cancel {
    background-color: #fff;
    color: red;
    border: .5px solid gray;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    padding: 8px, 22px, 8px, 22px;
}

